body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
header {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}
header nav {
  background: #333;
  padding: 1rem;
}
header nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
main {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}
footer {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}
.error {
  color: red;
}
button,
input,
select,
textarea {
  display: block;
  margin: 0.5rem 0;
  
}
.category-checkbox {
  display: inline;
  margin: 0;
}
.result-list {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid black;
}

.result-list a {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.result-list a:hover {
  background-color: #ccc;
}

img {
    max-width: 90%;
    height: auto;
}

@media (min-width: 600px) {
  form label {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

@media (max-width: 800px) {  
  header {
    max-width: 48%;
  }
  main {
    max-width: 48%;
  }
  footer {
    max-width: 48%;
  }
}
}
